*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
body{
    background: #f4f6f9;
    color: #333;
    align-items: center;
    text-align: center;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #0d1b2a;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    padding: 1rem 2rem;
}
.nav-links  {
    list-style: none ! important;
    display: flex;
    gap: 2rem;
    color: #f4f6f9;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-links a{
    text-decoration: none;
    color: #e4e7eb;
    font-weight: bold;
}
.nav-links a:hover{
    color: #f39c12;
}
@media(max-width:768px){
    .nav-links{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}


.hero{
    padding: 100px 10%;
    text-align: center;
    background: white;
}
.hero h1{
    font-size: 36px;
    margin-bottom: 20px;

}.hero p{
    font-size: 18px;
    color: #555;
}
.content{
    padding: 80px 10%;
    background: white;
    margin: 40px auto;
    width: 85%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgb( 0, 0, 0,  0.8);
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 15px;
}
form input,
form textarea{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;

}
form button:hover{
    background: #1b263b;
}
/* @media (max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        background: #e4e7eb;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        padding: 20px;
    } */
    


button{
    padding: 12px 25px;
    font-size: 16px;
    background-color: #0d1b2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3 ease;
}
button:hover{
    background-color: #79a4f5;
}
#successMessage{
    margin-top: 15px;
    font-weight: bold;
    color: green;
    text-align: center;
    display: none;
}
footer{
    text-align: center;
    margin-top: 40px;
    font-weight: 300;
    color: #333;
}